html, body {
  margin: 0;
  padding: 0;
  background-color: #eec;
  font: Verdana, Verana, sans-serif;
}

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: black;
}

h1 {
  margin: 0;
  padding: 0.3em 1em;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  color: #555;
}

nav {
  float: left;
  width: 14em;
}

nav ul {
  list-style-type: none;
  padding: 0 0 0 0.3em;
}
nav ul li {
  background-color: white;
  border: 1px solid #999;
  border-radius: 3px 0 0 3px;
  padding: 0.2em 0.4em;
  margin: 0.1em -1px 0.1em 0;
}

#content {
  background-color: white;
  margin: 0 0 0 14em;  /* for floating nav */
  padding: 0;
  min-height: 10em;
  border: 1px solid #999;
  border-radius: 0 3px 3px 0;
}

.torrent {
  border-bottom: 1px solid #999;
  margin: 0;
  padding: 0.6em 1em;
}
.torrent:last-child {
  border-bottom: none;
}
.torrent h2 {
  margin: 0;
  padding: 0.2em 0;
  font-size: 100%;
  font-weight: bold;
}
.torrent p {
  margin: 0;
  padding: 0.2em 0;
}
.torrent .downspeed {
  color: green;
}
.torrent .upspeed {
  color: red;
}
