<article class="torrent">
  <h2>
    {{torrent.name}}
  </h2>
  <p ng-show="torrent.totalLength">
    {{percentDone()}}% of {{torrent.totalLength | humanSize}},
    ETA: {{eta()}}
    <span class="upspeed">{{torrent.uploadSpeed | humanSize}}/s up</span>
    <span class="downspeed">{{torrent.downloadSpeed | humanSize}}/s down</span>
  </p>
  <ul ng-show="files"
      ng-controller="TorrentFilesController" 
      class="files">
    <li ng-repeat="file in files"
        ng-controller="TorrentFileController">
      <div>
        <a href="{{file.href}}">{{file.name}}</a>
        <span class="size">{{file.length | humanSize}}</span>
      </div>
      <!-- TODO: avoid loading when not playing -->
      <div class="play-container" ng-if="canPlayVideo()">
        <button ng-hide="isPlayingVideo" ng-click="isPlayingVideo = true">Play</button>
        <video ng-if="isPlayingVideo" controls autoplay>
          <source src="{{file.href}}">
        </video>
      </div>
      <div class="play-container" ng-if="canPlayAudio()">
        <button ng-hide="isPlayingAudio" ng-click="isPlayingAudio = true">Play</button>
        <audio ng-if="isPlayingAudio" controls autoplay>
          <source src="{{file.href}}">
        </audio>
      </div>
      <div class="view-container" ng-if="canViewImage()">
        <button ng-hide="isViewingImage" ng-click="isViewingImage = true">View</button>
        <img ng-if="isViewingImage" src="{{file.href}}">
      </div>
    </li>
  </ul>
</article>
